:root {
  --orange: #fe5f28;
  --orange-2: #fb7400;
}

body {
  background: white;
  font-family: sans-serif!important;
}

.navbar-info {
  background: #0a1227;
}

.logo-container {
  max-width: 110px;
}

.relative::before {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 1;
}
.relative::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 39px;
  height: 39px;
  border: 2px dotted white;
  border-radius: 50%;

  content: "";
  z-index: 2;
}

svg {
  position: absolute;
  color: white;
  z-index: 3;
}

.orange {
  background: orange;
}

.relative {
  position: relative;
  width: 60px;
  height: 30px;
}

.text-orange {
  color: var(--orange);
}

.text-orange-2 {
  color: var(--orange-2);
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  letter-spacing: -2;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.nav-link.active {
  color: var(--orange) !important;
  border-bottom: 7px solid var(--orange);
}

.hero h1 {
  font-size: 3.3rem;
  font-family: sans-serif;
  font-weight: 650;
}

hr.decorative {
  width: 70px;
  height: 10px!important;
  opacity: 1;
}

.reservation {
  background: #dcdddf;
}

.reservation h2 {
  font-weight: bold;
}

.reservation input, .reservation textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.reservation form button {
  background-color: #2f374a!important;
}

.w-47 {
  width: 47%;
}

.hero {
  width: 100%;
  overflow: hidden;;
  position: relative;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 55, 74, 0.6);
  position: relative;
  z-index: 1;
}

.why-us img {
  width: 90px;
}

.why-us .content {
  position: relative;
  z-index: 1;
}

.why-us .icon {
  position: absolute;
  width: 70px;
  height: 90px;
  background: var(--orange);
  top: 50%;
  left: 46%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-us h2 {
  font-weight: 650;
}

.about {
  background: #f9f9f9;
}

.about .mission .btn {
  width: 32%;
  background: white;
  border: 1px solid lightgrey;
}

.about .mission .btn.active {
  color: white;
  background: var(--orange-2);
}

.about .card {
  background: transparent!important;
}

/*.about .services {
  width: 35%;
}*/

.service.interior {
  color: black;
  background: #ececec;
}
.service.interior .relative::before {
  background: var(--orange-2);
}
.service.interior .relative::after {
  border-color: grey;
}
.service.interior svg {
  color: #030e27;
}

.service.plumbing {
  color: white;
  background: var(--orange-2);
}
.service.plumbing .relative::before {
  background: white;
}
.service.plumbing svg {
  color: #030e27;
}

.service.painting {
  color: white;
  background: #040e27;
}
.service.painting .relative::before {
  background: #363e51;
}
.service.painting svg {
  color: var(--orange-2);
}

.projects {
  background: #1e263b;
}

.projects button {
  background: #091326;
}

.testimonials {
  background: #f8f9fb;
}

.testimonials .content {
  background: url(assets/img/bg_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials .overlay {
  background: rgba(30, 38, 59, 0.9);
}

.testimonials .pic {
  position: relative;
}

.testimonials .pic img {
  opacity: 0.7;
}

.testimonials .play-icon {
  width: 100px;
  height: 100px;
  background: var(--orange);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.testimonials .name {
  position: absolute;
  left: 12.5%;
  bottom: -25px;
}

.testimonials input:focus[type="radio"] {
  box-shadow: none;
}

.testimonials input:checked[type="radio"] {
  border: 2px solid white;
  background-image: none;
  background: #fca62c;
}

.newsletter {
  background: #fb7400;
}

.newsletter form button {
  background: #fbad02;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.newsletter form input[type="email"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.footer-nav {
  background: #061437;
}

.footer-nav hr.decorative {
  width: 90px;
  height: 4px!important;
  opacity: 1;
  color: var(--orange-2);
}

footer {
  background: #040e27;
}

footer a {
  color: lightblue;
  text-decoration: none;
}

footer a:hover {
  color: aliceblue;
}

footer img {
  max-width: 100px;
}

@media screen and (max-width: 767px) {
  .why-us img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  /*.w-md-50 {
    width: 50%!important;
  }*/
}
